.photo-row{
  display:flex;
}
.photo-container{
  flex-grow:1;
  padding:2em;
  text-align:center;
  font-style:italic;
}
.photo-container img{
  border-radius:12px;
  max-height:100px;
  max-width:175px;
}

#big-container {
  display:none;
  position:fixed;
  z-index:999;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  width:100vw;
  padding:10%;
  background-color:rgba(0,0,0,0.4);
  overflow-y:auto;
}

#big-container div {
  width:70%;
  padding:5%;
  background-color: white;
}

#big-img {
  max-height:80vh;
  max-width:80vh;
}
