body{
  background-color:#e0a6ac;
  color: black;
  text-align: left;
  font-family: Afacad;
  margin-left: 10%;
  margin-right: 10%
}
.heading{
  font-family: Serif, cursive;
  text-align: center;
  font-size: 150%;
  color: black;
  text-shadow: #d5b0c1 2px 2px;
}
h2.heading{
  font-size: 200%;
}
