body {
  margin:0;
  passing:0;
}

.square {
  float:left;
  border:solid black 3px;
  width:30vh;
  font-size:300%;
  text-align:center;
  padding-top:2%;
  padding-bottom:5%;
}

#winner{
  display:none;
  
}
